# Python Final Project

## Reading Data and Importing Libraries

In [1]:
import pandas as pd

# Read Excel
regions = pd.read_excel('WDIW.xlsx')

# Filter countries by team cool name 
jetFire = regions[regions['Cool Name'] == 'Jetfire' ]

In [13]:
# Number of missing values

# Number of null values aggregated by sum
missingSorted = jetFire.isnull().agg('sum').sort_values(ascending=False)

# More than 0 values, a total of 54 columns
missingAtLeastOne = missingSorted[missingSorted > 0]

# View Informations
missingAtLeastOne

Income share held by fourth 20%                                                                            22
Poverty headcount ratio at $1.90 a day (2011 PPP) (% of population)                                        22
Educational attainment, at least completed primary, population 25+ years, total (%) (cumulative)           22
GINI index (World Bank estimate)                                                                           22
Government expenditure on education, total (% of government expenditure)                                   22
Income share held by highest 20%                                                                           22
Income share held by lowest 20%                                                                            22
Income share held by second 20%                                                                            22
Income share held by third 20%                                                                             22
Literacy rate, adult total (% of people ages 15 and above)                                                 22
Births attended by skilled health staff (% of total)                                                       22
Literacy rate, youth total (% of people ages 15-24)                                                        22
Prevalence of underweight, weight for age (% of children under 5)                                          22
Poverty headcount ratio at $3.20 a day (2011 PPP) (% of population)                                        22
Poverty headcount ratio at national poverty lines (% of population)                                        22
Educational attainment, Doctoral or equivalent, population 25+, total (%) (cumulative)                     21
Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)          21
Educational attainment, at least Master's or equivalent, population 25+, total (%) (cumulative)            21
Educational attainment, at least completed lower secondary, population 25+, total (%) (cumulative)         21
Educational attainment, at least completed post-secondary, population 25+, total (%) (cumulative)          21
Educational attainment, at least completed short-cycle tertiary, population 25+, total (%) (cumulative)    21
Educational attainment, at least completed upper secondary, population 25+, total (%) (cumulative)         21
Prevalence of HIV, total (% of population ages 15-49)                                                      11
Population in the largest city (% of urban population)                                                     10
Armed forces personnel (% of total labor force)                                                             9
Military expenditure (% of GDP)                                                                             9
Employment in agriculture (% of total employment) (modeled ILO estimate)                                    8
Population, male                                                                                            8
Employment in industry (% of total employment) (modeled ILO estimate)                                       8
Employment in services (% of total employment) (modeled ILO estimate)                                       8
Tax revenue (% of GDP)                                                                                      8
Adolescent fertility rate (births per 1,000 women ages 15-19)                                               8
Age dependency ratio (% of working-age population)                                                          8
Merchandise trade (% of GDP)                                                                                8
Prevalence of undernourishment (% of population)                                                            8
Population, female                                                                                          8
Age dependency ratio, old (% of working-age population)                                                     8
Age dependency ratio, young (% of working-age population)                                                   8
Population ages 0-14 (% of total population)                                                                8
Population ages 15-64 (% of total population)                                                               8
Population ages 65 and above (% of total population)                                                        8
Agriculture, forestry, and fishing, value added (% of GDP)                                                  7
Services, value added (% of GDP)                                                                            7
GDP (current US$)                                                                                           7
Industry (including construction), value added (% of GDP)                                                   7
GDP growth (annual %)                                                                                       6
Life expectancy at birth, total (years)                                                                     5
Rural population (% of total population)                                                                    4
Birth rate, crude (per 1,000 people)                                                                        4
Fertility rate, total (births per woman)                                                                    4
Death rate, crude (per 1,000 people)                                                                        4
Mobile cellular subscriptions (per 100 people)                                                              3
Urban population growth (annual %)                                                                          1
Urban population (% of total population)                                                                    1
dtype: int64

## Missing Values

### Strategy 1: Finding the values in World Bank

#### Diego

##### Subsetting the countries

In [3]:
# 6 Countries of Diego
diegoCols = ['ITA','LIE','LUX','MCO','NLD','PRT']

# Subset of Countr - dies
diegoDf = jetFire[jetFire['Country Code'].isin(diegoCols)]

##### Checking Missing Values per countries

How many Missing values each country has?

In [6]:
# Checking mssing values per countries
diegoTranspose = diegoDf.transpose()

diegoTranspose.columns = diegoCols

diegoMissingSorted = (diegoTranspose.isnull().sum().sort_values(ascending = False) / len(diegoTranspose)) * 100

diegoMissingSorted

# Monaco, liechtenstein, Luxemburg, Portugal, Netherlands, Italy

MCO    72.058824
LIE    67.647059
LUX    33.823529
PRT    32.352941
NLD    32.352941
ITA    32.352941
dtype: float64

##### Missing Values per Column
How many missing values each indicator has?

In [7]:
# Checking missing values per Column
diegoMissingCols = diegoDf.isnull().sum().sort_values(ascending = False)

# 68 indicators
print(f'Matrix Shape: {diegoDf.shape}') 

# Indicators with 100% missing values
print(diegoMissingCols[diegoMissingCols == 6])

Matrix Shape: (6, 68)
Income share held by fourth 20%                                                                            6
Educational attainment, at least completed lower secondary, population 25+, total (%) (cumulative)         6
Income share held by lowest 20%                                                                            6
Literacy rate, adult total (% of people ages 15 and above)                                                 6
Literacy rate, youth total (% of people ages 15-24)                                                        6
Income share held by highest 20%                                                                           6
Government expenditure on education, total (% of government expenditure)                                   6
GINI index (World Bank estimate)                                                                           6
Educational attainment, at least completed upper secondary, population 25+, total (%) (cumulative)         6
Educational attainment, at least completed short-cycle tertiary, population 25+, total (%) (cumulative)    6
Income share held by third 20%                                                                             6
Educational attainment, at least completed post-secondary, population 25+, total (%) (cumulative)          6
Educational attainment, at least completed primary, population 25+ years, total (%) (cumulative)           6
Educational attainment, at least Master's or equivalent, population 25+, total (%) (cumulative)            6
Poverty headcount ratio at $1.90 a day (2011 PPP) (% of population)                                        6
Births attended by skilled health staff (% of total)                                                       6
Prevalence of underweight, weight for age (% of children under 5)                                          6
Educational attainment, Doctoral or equivalent, population 25+, total (%) (cumulative)                     6
Income share held by second 20%                                                                            6
Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)          6
Poverty headcount ratio at national poverty lines (% of population)                                        6
Poverty headcount ratio at $3.20 a day (2011 PPP) (% of population)                                        6
dtype: int64

##### More detailed inspection of missing values

In [8]:
# Indicators with 2 and 3 missing datapoints

diegoMissingCols[diegoMissingCols < 6][diegoMissingCols > 1]

Population in the largest city (% of urban population)                      3
Employment in agriculture (% of total employment) (modeled ILO estimate)    2
Employment in industry (% of total employment) (modeled ILO estimate)       2
Adolescent fertility rate (births per 1,000 women ages 15-19)               2
Armed forces personnel (% of total labor force)                             2
Agriculture, forestry, and fishing, value added (% of GDP)                  2
Age dependency ratio, young (% of working-age population)                   2
Employment in services (% of total employment) (modeled ILO estimate)       2
Industry (including construction), value added (% of GDP)                   2
Age dependency ratio (% of working-age population)                          2
Population ages 15-64 (% of total population)                               2
Tax revenue (% of GDP)                                                      2
Services, value added (% of GDP)                                            2
Prevalence of undernourishment (% of population)                            2
Prevalence of HIV, total (% of population ages 15-49)                       2
Population, male                                                            2
Population, female                                                          2
Population ages 65 and above (% of total population)                        2
Age dependency ratio, old (% of working-age population)                     2
Population ages 0-14 (% of total population)                                2
Merchandise trade (% of GDP)                                                2
Military expenditure (% of GDP)                                             2
dtype: int64

In [9]:
# Only one missing value
diegoMissingCols[diegoMissingCols >= 1 ][diegoMissingCols < 2]

Rural population (% of total population)    1
Life expectancy at birth, total (years)     1
GDP (current US$)                           1
GDP growth (annual %)                       1
Fertility rate, total (births per woman)    1
Birth rate, crude (per 1,000 people)        1
Death rate, crude (per 1,000 people)        1
dtype: int64

##### Missing Values by Country Data Frame
This data frame is composed of indicators with at least 1 missing value

In [ ]:
# Subset indicators with at least 1 missing value. This is a boolean DataFrame
diegoMissingBool = diegoDf[diegoMissingCols[diegoMissingCols >= 1].index].isnull().copy()

# Is null is created again to have the indices, I did this the first time 
# mask = diegoMissingBool.isnull().any()
# diegoMissingbyCountry = diegoDf[mask.index.copy()]

# A more elegant way: 

diegoMissingbyCountry = diegoDf[diegoMissingBool.columns.copy()]


# Created Country code column in order to add it as an index
diegoMissingbyCountry.loc[:,'CountryCode'] = diegoDf['Country Code'].copy()

# modified index to have the country code. Easier subsetting!
diegoMissingbyCountry = diegoMissingbyCountry.set_index('CountryCode').copy()

# The final dataframe contains the dataframe that has missing values 
diegoMissingbyCountry

##### Worldbank API - Easy webscraping

In [50]:
import world_bank_data as wb

# It's necessary to get the indicators code, this is different from the column names. 
    # E.g: Income share held by fourth 20% is coded as: SI.DST.04TH.20
    
missingIndicators = diegoMissingCols[diegoMissingCols >= 1].index.copy()

# Created empty dataframe with the column format that the API will return
    # We just need to append in a simple loop
indicatorsCodedMissing = pd.DataFrame(columns = ['name', 'unit', 'source', 'sourceNote', 'sourceOrganization', 'topics'])

# Loop to get the missing indicators and store the in the indicatorsCodedMissing data frame
for i in list(missingIndicators):
    indicatorsCodedMissing = indicatorsCodedMissing.append(wb.search_indicators(i))

# We can view the first the indicator names
print(f'{indicatorsCodedMissing.index[0:3]} \n')

# We can view the head of the dataframe as well, we have really interesting info! 
indicatorsCodedMissing.head()

Index(['SI.DST.04TH.20', 'SI.DST.FRST.20', 'SI.DST.05TH.20'], dtype='object')

,name,unit,source,sourceNote,sourceOrganization,topics
SI.DST.04TH.20,Income share held by fourth 20%,,World Development Indicators,Percentage share of income or consumption is t...,"World Bank, Development Research Group. Data a...",Poverty
SI.DST.FRST.20,Income share held by lowest 20%,,World Development Indicators,Percentage share of income or consumption is t...,"World Bank, Development Research Group. Data a...","Poverty ,Aid Effectiveness"
SI.DST.05TH.20,Income share held by highest 20%,,World Development Indicators,Percentage share of income or consumption is t...,"World Bank, Development Research Group. Data a...",Poverty
SI.DST.03RD.20,Income share held by third 20%,,World Development Indicators,Percentage share of income or consumption is t...,"World Bank, Development Research Group. Data a...",Poverty
SI.DST.02ND.20,Income share held by second 20%,,World Development Indicators,Percentage share of income or consumption is t...,"World Bank, Development Research Group. Data a...",Poverty

In [317]:
# Now we obtain the data for the specific countries that we need

import wbdata
from datetime import datetime

# missingIndicators = diegoMissingCols[diegoMissingCols > 1] 

# The indicators argument of get_dataframe needs to be a dictionary with 
    # the codes (previous step) as the key and the new column names as the values (missing Indicators)
    # The output is a dataframe, notice that it has hierarchical indexing or multindexing (it makes it more fun and useful)
    # It will return the Data frame with all the years in the world bank 
    
keys = list(indicatorsCodedMissing.index)
values = list(missingIndicators) 


wbQueriedDiego = wbdata.get_dataframe(indicators = dict(zip(keys,values)), country = diegoCols, convert_date = False)

wbQueriedDiego.head()

              Income share held by fourth 20%  \
country date
Italy   1960                              NaN
        1961                              NaN
        1962                              NaN
        1963                              NaN
        1964                              NaN

              Educational attainment, at least completed lower secondary, population 25+, total (%) (cumulative)  \
country date
Italy   1960                                                NaN
        1961                                                NaN
        1962                                                NaN
        1963                                                NaN
        1964                                                NaN

              Income share held by lowest 20%  \
country date
Italy   1960                              NaN
        1961                              NaN
        1962                              NaN
        1963                              NaN
        1964                              NaN

              Literacy rate, adult total (% of people ages 15 and above)  \
country date
Italy   1960                                                NaN
        1961                                                NaN
        1962                                                NaN
        1963                                                NaN
        1964                                                NaN

              Literacy rate, youth total (% of people ages 15-24)  \
country date
Italy   1960                                                NaN
        1961                                                NaN
        1962                                                NaN
        1963                                                NaN
        1964                                                NaN

              Income share held by highest 20%  \
country date
Italy   1960                          453317.0
        1961                          470164.0
        1962                          482731.0
        1963                          490638.0
        1964                          493982.0

              Government expenditure on education, total (% of government expenditure)  \
country date
Italy   1960                                           430743.0
        1961                                           449698.0
        1962                                           454656.0
        1963                                           466186.0
        1964                                           475089.0

              GINI index (World Bank estimate)  \
country date
Italy   1960                          415325.0
        1961                          430013.0
        1962                          446466.0
        1963                          447013.0
        1964                          459129.0

              Educational attainment, at least completed upper secondary, population 25+, total (%) (cumulative)  \
country date
Italy   1960                                           406096.0
        1961                                           416267.0
        1962                                           429650.0
        1963                                           443469.0
        1964                                           445878.0

              Educational attainment, at least completed short-cycle tertiary, population 25+, total (%) (cumulative)  \
country date
Italy   1960                                           402091.0
        1961                                           407701.0
        1962                                           417564.0
        1963                                           429513.0
        1964                                           440445.0

              ...  Services, value added (% of GDP)  \
country date  ...
Italy   1960  ...                               NaN
        1961  ...                               NaN
        1962  ...                               NaN
        1963  ...                               NaN
        1964  ...                               NaN

              Prevalence of undernourishment (% of population)  \
country date
Italy   1960                                          429867.0
        1961                                          445682.0
        1962                                          457283.0
        1963                                          464412.0
        1964                                          467295.0

              Prevalence of HIV, total (% of population ages 15-49)  \
country date
Italy   1960                                                NaN
        1961                                                NaN
        1962                                                NaN
        1963                                                NaN
        1964                                                NaN

              Population, male  Population, female  \
country date
Italy   1960          410547.0                 NaN
        1961          427146.0                 NaN
        1962          432611.0                 NaN
        1963          443024.0                 NaN
        1964          450976.0                 NaN

              Population ages 65 and above (% of total population)  \
country date
Italy   1960                                           397421.0
        1961                                           410231.0
        1962                                           424787.0
        1963                                           426227.0
        1964                                           437114.0

              Age dependency ratio, old (% of working-age population)  \
country date
Italy   1960                                                NaN
        1961                                                NaN
        1962                                                NaN
        1963                                                NaN
        1964                                                NaN

              Population ages 0-14 (% of total population)  \
country date
Italy   1960                                      389652.0
        1961                                      398457.0
        1962                                      410262.0
        1963                                      422643.0
        1964                                      425535.0

              Merchandise trade (% of GDP)  Military expenditure (% of GDP)
country date
Italy   1960                           NaN                         386401.0
        1961                           NaN                         391169.0
        1962                           NaN                         399828.0
        1963                           NaN                         410500.0
        1964                           NaN                         420443.0

[5 rows x 44 columns]

In [367]:
# Now we subset for a particular year

wbQueriedDiego.sort_index(inplace=True)

# What is the total of missing values that there are per year 
for i in range(2013,2019,1):
    print('{} missing values out of {} for year {} '.format(wbQueriedDiego.xs(str(i),level='date'). 
                                                            transpose().isnull().sum().sum(), # Calculates overall sum of null values
                                                            wbQueriedDiego.shape[1] * len(wbQueriedDiego.index.levels[0]), # Number of columns * number of countries = total possible missing values 
                                                i) # ith year 
        )

# It seems that 2015 is the most non-missing updated info that we can obtain 

# data for 2015 is queried
wbQueriedDiego2015 = wbQueriedDiego.xs('2015',level='date')

# Printing the data frame to know the contents
wbQueriedDiego2015

# saving it to excel
   
# wbQueriedDiego2015.to_excel('worldBank2015DiegoCountries.xlsx')  # This is commented so I don't overwrite by mistake the file

88 missing values out of 264 for year 2010
96 missing values out of 264 for year 2011
96 missing values out of 264 for year 2012
96 missing values out of 264 for year 2013
112 missing values out of 264 for year 2014
88 missing values out of 264 for year 2015
132 missing values out of 264 for year 2016
132 missing values out of 264 for year 2017
132 missing values out of 264 for year 2018
264 missing values out of 264 for year 2019
264 missing values out of 264 for year 2020

,Income share held by fourth 20%,"Educational attainment, at least completed lower secondary, population 25+, total (%) (cumulative)",Income share held by lowest 20%,"Literacy rate, adult total (% of people ages 15 and above)","Literacy rate, youth total (% of people ages 15-24)",Income share held by highest 20%,"Government expenditure on education, total (% of government expenditure)",GINI index (World Bank estimate),"Educational attainment, at least completed upper secondary, population 25+, total (%) (cumulative)","Educational attainment, at least completed short-cycle tertiary, population 25+, total (%) (cumulative)",...,"Services, value added (% of GDP)",Prevalence of undernourishment (% of population),"Prevalence of HIV, total (% of population ages 15-49)","Population, male","Population, female",Population ages 65 and above (% of total population),"Age dependency ratio, old (% of working-age population)",Population ages 0-14 (% of total population),Merchandise trade (% of GDP),Military expenditure (% of GDP)
country,,,,,,,,,,,,,,,,,,,,,
Italy,23.5,5.9,41.3,17.2,12.1,254742.0,265097.0,273528.0,280219.0,285353.0,...,33.188316,238848.0,222784.0,249291.0,233170.0,257747.0,241946.0,264399.0,249239.0,269430.0
Liechtenstein,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Luxembourg,23.1,7.2,41.0,16.7,12.1,3400.0,3296.0,3212.0,3149.0,3103.0,...,44.669118,3146.0,2800.0,3088.0,2800.0,3041.0,2798.0,3003.0,2794.0,2974.0
Monaco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Netherlands,22.4,8.9,37.3,17.5,13.9,92160.0,91203.0,90900.0,91161.0,91897.0,...,44.856040,87376.0,83358.0,86453.0,82304.0,86143.0,82005.0,86363.0,82359.0,87031.0
Portugal,22.3,6.7,42.7,16.3,12.0,43766.0,44483.0,45300.0,46194.0,47145.0,...,30.518379,40225.0,50097.0,41627.0,51105.0,42926.0,51940.0,44128.0,52619.0,45238.0

### Global Missing Values Analysis

In [ ]:
# Copy original dataset for missingValues treatment
missingValuesDf = jetFire.copy()

# Checking missing values per countries
missingValuesDfTranspose = missingValuesDf.transpose()

missingValuesDfTranspose.columns = missingValuesDf['Country Code']

missingValuesSortedByCountry = (missingValuesDfTranspose.isnull().
                                sum().
                                sort_values(ascending = False) / len(diegoTranspose)) * 100

missingValuesSortedByCountry

# NEW CELLL


# Checking missing values per Column
missingValuesByColumn = missingValuesDf.isnull().\
                        sum().sort_values(ascending = False)

# 68 indicators
print(f'Original Matrix Shape: {missingValuesDf.shape}') 

missingValuesByColumn

# Indicators with 100% missing values
print(missingValuesByColumn[missingValuesByColumn == 22])

# NEW CELL

# Missing Values less than 22 

missingValuesByColumn[missingValuesByColumn < 22]


# Visualize distribution of missing values by column 
missingValuesByColumn[missingValuesByColumn].plot.box()

# Visualize distribution of missing values by column except 100% missing values (< 22)
# Notice how the distribution change if we don't include the 22 missing values
missingValuesByColumn[missingValuesByColumn < 22].plot.box()

# NEXT CELL 



# Subset indicators with at least 1 missing value. This is a boolean DataFrame
missingValuesBool = missingValuesDf[missingValuesByColumn[missingValuesByColumn >= 1].index].isnull().copy()

# Is null is created again to have the indices, I did this the first time 
# mask = diegoMissingBool.isnull().any()
# diegoMissingbyCountry = diegoDf[mask.index.copy()]

# A more elegant way: 
# Extracting from the original values the name of the columns that have at least 1 N/A
missingValuesSubset = missingValuesDf[missingValuesBool.columns.copy()]


# Created Country code column in order to add it as an index
missingValuesSubset.loc[:,'CountryCode'] = missingValuesDf['Country Code'].copy()

# modified index to have the country code. Easier subsetting!
missingValuesSubset = missingValuesSubset.set_index('CountryCode').copy()

# The final dataframe contains the dataframe that has missing values 
missingValuesSubset


# NEXT CELL

# import world_bank_data as wb

# It's necessary to get the indicators code, this is different from the column names. 
    # E.g: Income share held by fourth 20% is coded as: SI.DST.04TH.20

missingIndicators = missingValuesByColumn[missingValuesByColumn >= 1].index.copy()


# Created empty dataframe with the column format that the API will return
    # We just need to append in a simple loop
indicatorsCodedMissing = pd.DataFrame(columns = ['name', 'unit', 'source', 'sourceNote', 'sourceOrganization', 'topics'])

# Loop to get the missing indicators and store the in the indicatorsCodedMissing data frame
for i in list(missingIndicators):
    indicatorsCodedMissing = indicatorsCodedMissing.append(wb.search_indicators(i))

# We can view the first the indicator names
print(f'{indicatorsCodedMissing.index[0:3]} \n')

# We can view the head of the dataframe as well, we have really interesting info! 
indicatorsCodedMissing.head()

# Shape of matrix 
indicatorsCodedMissing.shape

# 

# Now we obtain the data for the specific countries that we need

import wbdata
from datetime import datetime

# missingIndicators = diegoMissingCols[diegoMissingCols > 1] 

# The indicators argument of get_dataframe needs to be a dictionary with 
    # the codes (previous step) as the key and the new column names as the values (missing Indicators)
    # The output is a dataframe, notice that it has hierarchical indexing or multindexing (it makes it more fun and useful)
    # It will return the Data frame with all the years in the world bank 
    
keys = list(indicatorsCodedMissing.index)
values = list(missingIndicators) 


wbQueriedAll = wbdata.get_dataframe(indicators = dict(zip(keys,values)), country = list(missingValuesDf.index), 
	convert_date = False)

wbQueriedAll.head()
# wbQueriedAll.to_csv('wbQueriedAll.csv')

In [75]:
# Now we subset for a particular year

wbQueriedAll.sort_index(inplace=True)

# What is the total of missing values that there are per year 
for i in range(2013,2019,1):
    print('{} missing values out of {} for year {} '.format(wbQueriedAll.xs(str(i),level='date'). 
                                                            transpose().isnull().sum().sum(), # Calculates overall sum of null values
                                                            wbQueriedAll.shape[1] * len(wbQueriedAll.index.levels[0]), # Number of columns * number of countries = total possible missing values 
                                                i) # ith year 
        )

460 missing values out of 1188 for year 2013
591 missing values out of 1188 for year 2014
437 missing values out of 1188 for year 2015
656 missing values out of 1188 for year 2016
656 missing values out of 1188 for year 2017
656 missing values out of 1188 for year 2018

# Test

In [69]:
import wbdata
from datetime import datetime

# missingIndicators = diegoMissingCols[diegoMissingCols > 1] 

# The indicators argument of get_dataframe needs to be a dictionary with 
    # the codes (previous step) as the key and the new column names as the values (missing Indicators)
    # The output is a dataframe, notice that it has hierarchical indexing or multindexing (it makes it more fun and useful)
    # It will return the Data frame with all the years in the world bank 
    
keys = list(indicatorsCodedMissing.index)
values = list(missingIndicators) 


wbQueriedAll = wbdata.get_dataframe(indicators = dict(zip(keys,values)), country = list(missingValuesDf['Country Code']), 
	convert_date = False)

wbQueriedAll.head()

              Income share held by fourth 20%  \
country date
Austria 1960                              NaN
        1961                              NaN
        1962                              NaN
        1963                              NaN
        1964                              NaN

              Poverty headcount ratio at $1.90 a day (2011 PPP) (% of population)  \
country date
Austria 1960                                                NaN
        1961                                                NaN
        1962                                                NaN
        1963                                                NaN
        1964                                                NaN

              Educational attainment, at least completed primary, population 25+ years, total (%) (cumulative)  \
country date
Austria 1960                                                NaN
        1961                                                NaN
        1962                                                NaN
        1963                                                NaN
        1964                                                NaN

              GINI index (World Bank estimate)  \
country date
Austria 1960                               NaN
        1961                               NaN
        1962                               NaN
        1963                               NaN
        1964                               NaN

              Government expenditure on education, total (% of government expenditure)  \
country date
Austria 1960                                                NaN
        1961                                                NaN
        1962                                                NaN
        1963                                                NaN
        1964                                                NaN

              Income share held by highest 20%  \
country date
Austria 1960                           67865.0
        1961                           68751.0
        1962                           68717.0
        1963                           67987.0
        1964                           66938.0

              Income share held by lowest 20%  \
country date
Austria 1960                          62685.0
        1961                          66843.0
        1962                          65465.0
        1963                          66237.0
        1964                          66647.0

              Income share held by second 20%  Income share held by third 20%  \
country date
Austria 1960                          58463.0                         55121.0
        1961                          62310.0                         58499.0
        1962                          65946.0                         62051.0
        1963                          64338.0                         65108.0
        1964                          65822.0                         64556.0

              Literacy rate, adult total (% of people ages 15 and above)  ...  \
country date                                                              ...
Austria 1960                                            52579.0           ...
        1961                                            55368.0           ...
        1962                                            58642.0           ...
        1963                                            61849.0           ...
        1964                                            64262.0           ...

              Industry (including construction), value added (% of GDP)  \
country date
Austria 1960                                                NaN
        1961                                                NaN
        1962                                                NaN
        1963                                                NaN
        1964                                                NaN

              GDP growth (annual %)  Life expectancy at birth, total (years)  \
country date
Austria 1960                48952.0                                      NaN
        1961                50955.0                                      NaN
        1962                53586.0                                      NaN
        1963                56459.0                                      NaN
        1964                59039.0                                      NaN

              Rural population (% of total population)  \
country date
Austria 1960                                   47813.0
        1961                                   49146.0
        1962                                   51319.0
        1963                                   53945.0
        1964                                   56632.0

              Birth rate, crude (per 1,000 people)  \
country date
Austria 1960                                   NaN
        1961                                   NaN
        1962                                   NaN
        1963                                   NaN
        1964                                   NaN

              Fertility rate, total (births per woman)  \
country date
Austria 1960                                   47182.0
        1961                                   47771.0
        1962                                   49410.0
        1963                                   51716.0
        1964                                   54296.0

              Death rate, crude (per 1,000 people)  \
country date
Austria 1960                                   NaN
        1961                                   NaN
        1962                                   NaN
        1963                                   NaN
        1964                                   NaN

              Mobile cellular subscriptions (per 100 people)  \
country date
Austria 1960                                         46995.0
        1961                                         46971.0
        1962                                         47797.0
        1963                                         49707.0
        1964                                         52106.0

              Urban population growth (annual %)  \
country date
Austria 1960                                 NaN
        1961                                 NaN
        1962                                 NaN
        1963                                 NaN
        1964                                 NaN

              Urban population (% of total population)
country date
Austria 1960                                   47186.0
        1961                                   46787.0
        1962                                   46828.0
        1963                                   47854.0
        1964                                   49997.0

[5 rows x 54 columns]